# dependencies
/node_modules

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# uploads directory (except the directory itself)
/uploads/*
!/uploads/.gitkeep

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
